*{
    margin: 50;
    padding: 50;
    /* Se cambia el modelo de la página */
    box-sizing: border-box;
}


.lista li a{
    background-color: rgb(243, 45, 187);
    color: rgb(251, 251, 251);
    text-decoration: none;
    padding: 20px 100px;
    display: block;
}

.lista li a:hover{
    background-color: rgb(56, 9, 227);
}

.lista li ul{
    display:none;
    position: absolute;
    min-width: 140px;
}
.lista li:hover>ul{
    display:block;

}

.lista li ul li{
    position: relative;
}
.fotos h1{
    font-size: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.turismo{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

html{
    background-color:rgb(255, 165, 247);
    height: 150px;
    background-attachment: fixed;
    background-size: cover;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* Se adapta a cualquier tamaño de pantalla */
    font-size: 1.5em;
    /* Ocupa toda la pantalla */
    min-height: 100%;
}

body > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75); 
    border-radius: 40px;  
    padding: 40px;  
    text-align: center;
}

body{
    /* Proporciona una cuadricula de una sola columna */
    display: grid;

    gap:30px;/*Separación de los elementos */
}

body{
    /* definir las areas para un mismo diseño */
    grid-template-areas:
    "header"
    "nav"
    "article"
    "aside"
    "footer";
}

.header{
    grid-area: "header";
    background-color:rgb(212, 247, 143);
}

.nav{
    grid-area: nav;
    background-color:rgb(149, 254, 174);
}
.menu{
        background-color: rgba(170, 255, 239, 0.781);
        text-align: center;
        margin: 10PX;
}


.menu li{
        display: inline-block;
}

.menu a{
        padding: 30px;
        color: rgb(0, 0, 0);
        text-decoration: none;
        display: block;
}

.menu a:hover{
        background-color: rgba(240, 248, 255, 0.999);
        font-size: large;
}

.article{
    grid-area: article;
    background-color:palegreen;
}

.aside{
    grid-area: aside;
    background-color:rgb(179, 206, 204);
}

.footer{
    grid-area: footer;
    background-color: deepskyblue;
}

/* PSEUSOCODIGO: es una palabra clave que se añade a los selectores y que especifica un estado especial del elemento seleccionado */

@media (min-width:1800px){
    body{
        grid-template-columns: 600px auto;
        grid-template-rows: 150px 10px auto 150px;
        grid-template-areas:
        "header header"
        "nav nav"
        "aside article"
        "footer footer";
    }
}


